.agro-ai-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  text-align: left;
}

.agro-ai {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  background-color: #050505;
}

@media (max-width: 992px) {
  .agro-ai-container {
    flex-direction: column;
    align-items: center;
  }

  .agro-ai-img > img {
    height: 480px !important;
  }
}

.agro-ai-img > img {
  height: 640px;
}

.agro-ai-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.agro-ai-header > h2 {
  color: #ffffff;
  line-height: 150%;
  font-size: 2rem;
  margin: 0px;
}

.agro-ai-content > h3 {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 150%;
  margin: 0px;
}

.agro-ai-content > ol > li {
  color: #b0b0b0;
  font-size: 1rem;
  margin-bottom: 16px;
  line-height: 150%;
}

.agro-ai-content > ol > li > span {
  color: #ffffff;
  font-weight: 600;
}